{{ partialCached "header.html" . }}
{{ partialCached "nav.html" . }}
	<main class="ma3 mt0 pa2 pa4-ns mw8 center bg-off-white">
		<section class="bg-white ph3">
			<div class="f5 f4-ns lh-copy pa3">
				<h3>Posts Filed Under: {{.Title}}</h3>

				<ul class="list pl1">
					{{ range (where .Data.Pages "Type" "post") }}
						<li class="link">
							> <a class="black no-underline" href="{{.Permalink}}">{{.Title}}</a>
						</li>
					{{ end }}
				</ul>
			</div>
		</section>
	</main>
{{ partialCached "footer.html" . }}
