<nav class="flex flex-wrap pa2 ph4-ns bg-near-black items-center white bb" role="navigation">
  <a class="white link dim w-100 w-30-ns tc tl-l ma3 ma0-ns pv3" href="/" title="Tyne Time - NUFC Blog">
    <img src="/images/tyne-time-logo.svg" alt="Tyne Time - A Newcastle United Blog" width="200">
  </a>
  <div class="v-mid w-100 w-70-ns tc tr-ns">
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="https://www.tynetime.com" title="Home">Home</a>
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="https://www.tynetime.com/about/" title="About Tyne Time">About</a>
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="https://www.tynetime.com/contact/" title="Contact Tyne Time">Contact</a>
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="https://www.tynetime.com/advertise/" title="Advertise on Tyne Time">Advertise</a>
  </div>
</nav>
