<nav class="flex flex-wrap pa2 ph4-ns bg-near-black items-center white bb" role="navigation">
  <a class="white link dim w-100 w-30-ns tc tl-l ma3 ma0-ns pv3" href="/" title="Home">
    <img src="/images/tyne-time-logo.svg" alt="" width="200">
  </a>
  <div class="v-mid w-100 w-70-ns tc tr-ns georgia">
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="/" title="Home">Home</a>
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="/about/" title="How it Works">About</a>
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="/contact/" title="Blog">Contact</a>
    <a class="white no-underline dim f5 f3-l ma2 mr4-l" href="/advertise/" title="Press">Advertise</a>
  </div>
</nav>
